$darkGray: #888;
$resourceWhite: rgb(231, 226, 226);
$blue: #066ADD;
$black: #121826;
$pink: #ff337B;
$navy: #000025;
$green: #121826;
$white: #fff;
$resourceWhite: rgb(231, 226, 226);
$lightGray: rgb(185, 183, 183);